.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #1b4364;
  border: 1px solid #1b4364;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #152f44;
  border-color: #152f44;
}
